/**/.DS_Store
/**/.venv/
/**/dist/
/**/build/
/**/.build*
/**/__pycache__/
/**/uv.lock
/**/.uv-*
/**/src/*-info/
/**/src/*_worker_*/
/**/.mypy_cache/
/**/__pypackages__/
/**/._*
/**/EGG*
/**/*.egg*
/**/*.so
/**/*.pyd
/**/.pytest*
*.whl
# JetBrains IDEs
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/usage.statistics.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml