# MacOS files
.DS_Store

# Python virtual environments and build artifacts
.venv/
dist/
build/
.build*
__pycache__/
.mypy_cache/
__pypackages__/
._*

# Miscellaneous files
*.lock
.uv-*

# Egg files and binary distributions
EGG*
*.egg*
*.so
*.pyd
*.whl

# Specific src patterns (adjust if needed)
src/*-info/
src/*_worker_*/

# Pytest caches
.pytest*

# JetBrains IDE settings
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/usage.statistics.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/jupyter-settings.xml

# docs sources
/docs/source/log/__init__.py
/docs/.gitignore
/docs/source/__init__.py
/docs/__init__.py
/docs/source/log/AGI.distribute-flight.py
/docs/source/log/AGI.distribute-my_code.py
/docs/source/log/AGI.install-flight.py
/docs/source/log/AGI.install-my_code.py
/docs/source/log/AGI.run-flight.py
/docs/source/log/AGI.run-my_code.py
/docs/source/agi-env.rst
/docs/source/agi-managers.rst
/docs/source/agi-workers.rst
/docs/source/logo/agi_logo.png
/docs/source/logo/agi_logo.svg
/docs/source/log/AgiEnv.instanciation.py
/docs/source/diagrams/agilab.png
/docs/source/agilab.rst
/docs/source/diagrams/Agilab-Overview.png
/docs/source/Agilab-Overview.svg
/docs/source/diagrams/AI-Problematic.png
/docs/source/AI-Problematic.svg
/docs/source/diagrams/classes_agi_core.managers.agi_manager.png
/docs/source/diagrams/classes_agi_core.managers.agi_runner.png
/docs/source/diagrams/classes_agi_core.managers.png
/docs/source/diagrams/classes_agi_core.workers.agent_worker.png
/docs/source/diagrams/classes_agi_core.workers.agi_worker.png
/docs/source/diagrams/classes_agi_core.workers.dag_worker.png
/docs/source/diagrams/classes_agi_core.workers.data_worker.png
/docs/source/diagrams/classes_agi_core.workers.png
/docs/source/diagrams/classes_agi_env.png
/docs/source/diagrams/classes_flight.png
/docs/source/diagrams/classes_flight_worker.png
/docs/source/diagrams/classes_my_code.png
/docs/source/diagrams/classes_my_code_worker.png
/docs/source/cluster.rst
/docs/source/cluster-help.rst
/docs/source/conf.py
/docs/source/core-licenses.md
/docs/source/directory-structure.rst
/docs/source/directory-structure.txt
/docs/source/edit_help.rst
/docs/source/env-licenses.md
/docs/source/execute_help.rst
/docs/source/experiment_help.rst
/docs/source/features.rst
/docs/source/flight-project.rst
/docs/source/flight-project-licenses.md
/docs/source/framework-api.rst
/docs/gen-docs.py
/docs/source/gui-licenses.md
/docs/source/index.rst
/docs/source/introduction.rst
/docs/source/key-generation.rst
/docs/source/license.rst
/docs/source/license.txt
/docs/source/diagrams/logo.png
/docs/make.bat
/docs/Makefile
/docs/source/diagrams/model-of-models.png
/docs/source/model-of-models.svg
/docs/source/my-code-project.rst
/docs/source/my-code-project-licenses.md
/docs/source/diagrams/needs-algos-set.png
/docs/source/needs-algos-set.svg
/docs/source/diagrams/packages_agi_core.managers.agi_manager.png
/docs/source/diagrams/packages_agi_core.managers.agi_runner.png
/docs/source/diagrams/packages_agi_core.managers.png
/docs/source/diagrams/packages_agi_core.workers.agent_worker.png
/docs/source/diagrams/packages_agi_core.workers.agi_worker.png
/docs/source/diagrams/packages_agi_core.workers.dag_worker.png
/docs/source/diagrams/packages_agi_core.workers.data_worker.png
/docs/source/diagrams/packages_agi_core.workers.png
/docs/source/diagrams/packages_agi_env.png
/docs/source/diagrams/packages_flight.png
/docs/source/diagrams/packages_flight_worker.png
/docs/source/diagrams/packages_my_code.png
/docs/source/diagrams/packages_my_code_worker.png
/docs/source/diagrams/pycharm_bug.png
/docs/source/diagrams/pycharm_registry.png
/docs/source/quick-start.rst
/docs/source/troubleshouting.rst
/docs/source/troubleshouting.txt
/docs/source/views.rst
/docs/source/views_help.rst

# private apps
/src/agilab/apps/flight-legacy-project/.idea/.gitignore
/src/agilab/apps/flight-legacy-project/.gitignore
/src/agilab/apps/flight-sim-project/.idea/.gitignore
/src/agilab/apps/flight-sim-project/.gitignore
/src/agilab/apps/pcm-predictor-project/.gitignore
/src/agilab/apps/satcom-sim-project/.gitignore
/src/agilab/apps/flight-sim-project/.idea/.name
/src/agilab/apps/flight-legacy-project/src/flight_legacy/__init__.py
/src/agilab/apps/flight-legacy-project/src/flight_legacy_worker/__init__.py
/src/agilab/apps/flight-sim-project/src/flight_sim/__init__.py
/src/agilab/apps/flight-sim-project/src/flight_sim_worker/__init__.py
/src/agilab/apps/pcm-predictor-project/src/pcm_predictor/__init__.py
/src/agilab/apps/pcm-predictor-project/src/pcm_predictor_worker/__init__.py
/src/agilab/apps/satcom-sim-project/src/satcom_sim/__init__.py
/src/agilab/apps/satcom-sim-project/src/satcom_sim_worker/__init__.py
/src/agilab/views/barycentric-graph/src/barycentric_graph/__init__.py
/src/agilab/views/barycentric-graph/src/__init__.py
/src/agilab/views/barycentric-graph/__init__.py
/src/agilab/views/maps-network-graph/src/maps_network_graph/__init__.py
/src/agilab/apps/flight-legacy-project/src/app_settings.toml
/src/agilab/apps/flight-sim-project/src/app_settings.toml
/src/agilab/apps/pcm-predictor-project/src/app_settings.toml
/src/agilab/apps/satcom-sim-project/src/app_settings.toml
/src/agilab/apps/flight-legacy-project/src/args_ui_snippet.py
/src/agilab/apps/flight-sim-project/src/args_ui_snippet.py
/src/agilab/apps/pcm-predictor-project/src/args_ui_snippet.py
/src/agilab/apps/satcom-sim-project/src/args_ui_snippet.py
/src/agilab/views/barycentric-graph/src/barycentric_graph/barycentric_graph.py
/src/agilab/apps/flight-sim-project/data.7z
/src/agilab/apps/satcom-sim-project/data.7z
/src/agilab/apps/flight-sim-project/distribution_tree.json
/src/agilab/apps/flight-legacy-project/.idea/flight-project.iml
/src/agilab/apps/flight-sim-project/.idea/flight-sim-project.iml
/src/agilab/apps/flight-legacy-project/src/flight_legacy/flight_legacy.py
/src/agilab/apps/flight-legacy-project/src/flight_legacy_worker/flight_legacy_worker.py
/src/agilab/apps/flight-sim-project/src/flight_sim/flight_sim.py
/src/agilab/apps/flight-sim-project/src/flight_sim_worker/flight_sim_worker.py
/src/agilab/apps/flight-sim-project/.idea/jupyter-settings.xml
/src/agilab/apps/flight-legacy-project/src/lab_steps.ipynb
/src/agilab/apps/flight-legacy-project/src/lab_steps.toml
/src/agilab/views/maps-network-graph/src/maps_network_graph/maps_network_graph.py
/src/agilab/apps/flight-legacy-project/.idea/misc.xml
/src/agilab/apps/flight-sim-project/.idea/misc.xml
/src/agilab/apps/pcm-predictor-project/.idea/misc.xml
/src/agilab/apps/satcom-sim-project/.idea/misc.xml
/src/agilab/apps/flight-legacy-project/.idea/modules.xml
/src/agilab/apps/flight-sim-project/.idea/modules.xml
/src/agilab/apps/pcm-predictor-project/.idea/modules.xml
/src/agilab/apps/satcom-sim-project/.idea/modules.xml
/src/agilab/apps/pcm-predictor-project/.idea/pcm-predictor-project.iml
/src/agilab/apps/pcm-predictor-project/src/pcm_predictor/pcm_predictor.py
/src/agilab/apps/pcm-predictor-project/src/pcm_predictor_worker/pcm_predictor_worker.py
/src/agilab/apps/flight-legacy-project/scripts/post_install.py
/src/agilab/apps/flight-sim-project/scripts/post_install.py
/src/agilab/apps/pcm-predictor-project/scripts/post_install.py
/src/agilab/apps/satcom-sim-project/scripts/post_install.py
/src/agilab/apps/flight-legacy-project/src/pre_prompt.json
/src/agilab/apps/flight-legacy-project/pre_prompt.json
/src/agilab/apps/flight-sim-project/src/pre_prompt.json
/src/agilab/apps/flight-legacy-project/.idea/inspectionProfiles/profiles_settings.xml
/src/agilab/apps/flight-sim-project/.idea/inspectionProfiles/profiles_settings.xml
/src/agilab/apps/pcm-predictor-project/.idea/inspectionProfiles/profiles_settings.xml
/src/agilab/apps/satcom-sim-project/.idea/inspectionProfiles/profiles_settings.xml
/src/agilab/apps/pcm-predictor-project/.idea/inspectionProfiles/Project_Default.xml
/src/agilab/apps/flight-legacy-project/pyproject.toml
/src/agilab/apps/flight-sim-project/pyproject.toml
/src/agilab/apps/pcm-predictor-project/pyproject.toml
/src/agilab/apps/satcom-sim-project/pyproject.toml
/src/agilab/apps/flight-legacy-project/README.md
/src/agilab/apps/flight-sim-project/README.md
/src/agilab/apps/pcm-predictor-project/README.md
/src/agilab/apps/satcom-sim-project/README.md
/src/agilab/apps/satcom-sim-project/.idea/satcom-sim-project.iml
/src/agilab/apps/satcom-sim-project/src/satcom_sim/satcom_sim.py
/src/agilab/apps/satcom-sim-project/src/satcom_sim_worker/satcom_sim_worker.py
/src/agilab/apps/flight-legacy-project/setup
/src/agilab/apps/flight-sim-project/setup
/src/agilab/apps/pcm-predictor-project/setup
/src/agilab/apps/satcom-sim-project/setup
/src/agilab/apps/flight-legacy-project/test/test_df.ipynb
/src/agilab/apps/pcm-predictor-project/scripts/unzip_data.py
/src/agilab/apps/satcom-sim-project/scripts/unzip_data.py
/src/agilab/apps/flight-legacy-project/.idea/vcs.xml
/src/agilab/apps/flight-sim-project/.idea/vcs.xml
/src/agilab/apps/satcom-sim-project/.idea/vcs.xml
/src/agilab/apps/pcm-predictor-project/.idea/workspace.xml
