# Include top-level files
include README.md
include SECURITY.md
include LICENSE
include pyproject.toml
include MANIFEST.in
include run_test.py

# Recursively include everything in your resources directory (if needed)
recursive-include src *