# MacOS files
.DS_Store

# Python virtual environments and build artifacts
.venv/
dist/
build/
.build*
__pycache__/
.mypy_cache/
__pypackages__/
._*
docs

# Miscellaneous files
*.lock
.uv-*

# Egg files and binary distributions
EGG*
*.egg*
*.so
*.pyd
*.whl

# Specific src patterns (adjust if needed)
src/*-info/
src/*_worker_*/

# Pytest caches
.pytest*

# apps
/src/agi/apps/*project/
!/src/agi/apps/flight_project/
!/src/agi/apps/mycode_project/


# views
/src/agi/views/
!/src/agi/views/maps/
!/src/agi/apps/maps-3d/
!/src/agi/apps/*_template/

# managed PC install under windows
/thales/

/gen_stubs/gen_stubs.py
/gen_stubs/pyproject.toml
/gen_stubs/README.md

.coverage*
*_pid*